h1, h2, h4{
    width: 55%;
    text-align: center;
}
h1, span{
    color: #5AC812;
}

body{
    background: url(../background.jpg);
    color: white;
}
img{
    position: absolute;
}
button{
    background-color: #44A703;
    color: white;
    width: 150px;
    margin-left: 20%;
}
.btn{
    border-radius: 0px;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.poetas{
    float: right;
    color: white;
    font-size: 14px;
    padding-right: 85px;
}
.list{
    background-color: rgba(0, 0, 0, 0.4);
}
